:root {
  --main-bg-clr: rgb(116, 116, 116);
  --main-light-clr: aliceblue;
  --main-dark-clr: rgb(26, 26, 26);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background-color: var(--main-bg-clr);
  padding: 0 25px;
  /* overflow: hidden; */
}

.btn {
  min-width: 150px;
  font-size: 1.5em;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 25px;
}
/* *********** STARTING DIV / CONTENTS */
#starter input {
  outline: none;
  max-width: 150px;
  margin: auto;
  border: none;
  padding: 7px;
  text-align: center;
  accent-color: coral;
}
input[type="radio"]{
  width: 50px;
  height: 50px;
  align-self: center;
}
label:not(:nth-child(1)) {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#starter {
width: 350px;
padding: 30px;
height: 420px;
box-shadow: inset 0 0 15px coral;
margin: 100px auto;
display: grid;
place-content: center;
font-size: 1.5em;
}
#starter div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
#starter .opponent {
  flex-direction: row;
  gap: 30px;
}
#starter strong{
  margin: 25px auto;
  font-size: 50px;
}
/* *********** End OF START STYLING */

h1,
#restart {
  margin: 25px auto 10px;
  padding: 15px;
  background-color: coral;
  color: aliceblue;
  border: 3px solid var(--main-dark-clr);
  box-shadow: 0 0 15px 5px var(--main-dark-clr);
  text-align: center;
  max-width: 750px;
  letter-spacing: 0.1rem;
  text-shadow: 5px 5px 5px var(--main-dark-clr);
}
.main {
  display: flex;
  flex-direction: column;
  place-content: center;
}
/* Styles for the game board */
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  width: 350px;
  height: 350px;
  background: var(--main-light-clr);
  padding: 5px;
}
.cell {
  background-color: var(--main-dark-clr);
  color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  font-weight: 900;
  cursor: pointer;
  border-radius: 10px;
}
/* Styles for the game result message */
.display {
  width: 100%;
  max-width: 750px;
  margin: auto;
  display: flex;
  gap: 4px;
  /* border: 2px solid red; */
}
#display-main,
.player1,
.player2 {
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin: 25px auto;
  padding: 15px;
  color: var(--main-light-clr);
  /* border: 5px solid coral; */
  box-shadow: inset 0 0 15px coral;
  text-shadow: 5px 5px 5px var(--main-dark-clr);
  letter-spacing: 0.1rem;
  /* display: none; */
}
#display-main {
  font-size: 1.5em;
  width: 300px;
  box-shadow: inset 0 0 15px coral;
  border: 5px solid coral;
  display: grid;
  place-content: center;
}
.player1,
.player2 {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: inset 0 0 15px var(--main-dark-clr);
}

.display span {
  font-size: 1.5em;
}

.btn:active {
  transform: scale(0.9);
  transition: all 150ms ease;
  box-shadow: none;
  border: 2px solid black;
}
.hidden {
  /* display: none; */
  visibility: hidden;
}

@media (max-width: 500px) {
  #display-main {
    display: none;
  }
}
